<a href="https://colab.research.google.com/github/MoonboyEVA/Network-DHCP-IP-TCP/blob/main/F%C3%B3rmulas%2C_Fun%C3%A7%C3%A3o_e_L%C3%B3gica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def subtrair_lista(numeros):
    subtracao = numeros[0]
    for numero in numeros[1:]:
        subtracao -= numero
    return subtracao

In [ ]:

import math
def area_circulo(diametro):
  raio = diametro / 2
  area = math.pi * (raio ** 2)
  return area

diametro = float(input("Digite o diametro: "))

area = area_circulo(diametro)

print("A área do círculo é:", area)

Digite o diametro: 10
A área do círculo é: 78.53981633974483

In [ ]:
x = range(20)
x = list(x)
for Z in x[3:7]:
  print(Z)

3
4
5
6

In [ ]:
a = [3,2,1]
b = a[:]
b[2] = 3
print("%s, %s, %s" % (a,b,a == b))

[3, 2, 1], [3, 2, 3], False

In [ ]:
y = 1
x = 3
while y <= 5:
  x = 3 * y
  y = y + 1
  print(x)
  print(y)

3
2
6
3
9
4
12
5
15
6

In [ ]:
num1 = int(input("Digite o primeiro número inteiro: "))
num2 = int(input("Digite o segundo número inteiro: "))
num3 = float(input("Digite um número real: "))

a = (num1 / 2) * (num2 * 2)
b = (num1 * 3) + num3
c = num3 ** 3

print("O produto da metade do primeiro com o dobro do segundo é:", a)
print("A soma do triplo do primeiro com o terceiro é:", b)
print("O terceiro elevado ao cubo é:", c)

Digite o primeiro número inteiro: 60
Digite o segundo número inteiro: 62
Digite um número real: 60.5
O produto da metade do primeiro com o dobro do segundo é: 3720.0
A soma do triplo do primeiro com o terceiro é: 240.5
O terceiro elevado ao cubo é: 221445.125

In [ ]:
a = 30
b = 6
def divide(a, b):
  global d
  d = a/b
  return d
c = divide(a,b)
print ("c=%d, d=%d" % (c,d))

c=5, d=5